.ui.secondary.stackable.menu
  .ui.container
    = link_to url_for(root_path), class: 'item' do
      %h1.ui.header PocketBox
    .right.menu
      = link_to url_for(about_path), class: 'item' do
        %h3.ui.header About
      = link_to url_for(about_path), class: 'item' do
        %h3.ui.header Contact Us
.ui.about.container
  %h1.ui.header PocketBox is effortless file sharing optimized for debate
  %p PocketBox was created with the aim of making sharing speeches in debate rounds simple. With PocketBox, debate teams can focus on preparation and the round at hand, rather than on setting up clunky email chains. To use PocketBox, teams just have to enter a round name, and they immediately get a "room" and a code to share with other debaters, judges, or coaches. People participating in the round can upload files to the PocketBox room, and anyone can view or download the files uploaded.
  %h2.ui.header Upcoming Features
  %p Upcoming PocketBox features include user accounts, round report and win / loss tracking, and coach integration.
  %h2.ui.header Contact
  %p PocketBox was made with ♥ &nbsp;by Thomas Hobohm. You can find him on Github as undercase or at his website,&nbsp;<a href="http://undercase.github.io">http://undercase.github.io</a>. In his free time, he enjoys rock climbing, listening to crazy music, and studying philosophy. He competed in policy debate in high school, and now attends the University of North Texas. Contact Thomas with suggestions, concerns, or problems at <a href="mailto: hobohm.business@gmai.com">hobohm.business@gmail.com.</a>
