.ui.middle.aligned.masthead.ui.container
  %h1.ui.center.aligned.header Update News
  %br
  %h3.ui.left.aligned.header <i>Attention Users:</i> There were a couple changes in the latest update!
  %h3.ui.left.aligned.header <i>First:</i> Room codes are now case-sensitive - the hash algorithm used to generate them was changed in order to make roomr more scalable and faster.
  %h3.ui.left.aligned.header <i>Second:</i> We switched from hosting files locally to hosting them on Amazon S3. That will make our upload and download time significantly faster, and allows us to support an almost unlimited number of files.
