.ui.middle.aligned.info.masthead.ui.container
  %h1.ui.center.aligned.header #{link_to "PocketBox", root_path }
  .ui.inverted.divider
  %h3.ui.left.aligned.header PocketBox is file sharing and speech docs made easy. Just name a room and share the code. Pocketbox was made with ♥ by Thomas Hobohm.
  .ui.inverted.divider
  %h3.ui.left.aligned.header <i>Hey Everyone!</i> There were a couple changes in the latest update!
  %h3.ui.left.aligned.header <i>First:</i> We changed our name! Roomr is now PocketBox, and we can be found at PocketBox.net!
  %h3.ui.left.aligned.header <i>Second:</i> Room codes are now case-sensitive - the hash algorithm used to generate them was changed in order to make roomr more scalable and faster.
  %h3.ui.left.aligned.header <i>Third:</i> We switched from hosting files locally to hosting them on Amazon S3. That will make our upload and download time significantly faster, and allows us to support an almost unlimited number of files.
