// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #fff;
}

@media screen and (min-width: 300px) {
  .wrapper {
    height: 100%;
  }
}

@media screen and (min-height: 550px) {
  .masthead.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.masthead.container {
  background: #fff;
  color: $teal;
  max-width: 300px !important;
  padding: 2rem 1rem;

  h1.ui.header {
    color: inherit;
    font-size: 3rem;
    margin-bottom: 0;
  }

  h4.ui.header {
    margin-top: 0;
    color: inherit;
    font-size: 1rem;
  }

  h3.ui.header {
    color: inherit;
    margin-top: 0.25rem;
  }

  h5.ui.header {
    color: inherit;
    a {
      color: $light-teal;
    }
  }

  form.ui.form {
    text-align: center;
  }

  form.ui.form .field input {
    color: $teal;
    margin: 1rem 0;
    border-radius: 0;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid $teal !important;
    &::-webkit-input-placeholder {
       color: $light-teal;
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: $light-teal;  
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: $light-teal;  
    }

    &:-ms-input-placeholder {  
       color: $light-teal;  
    }
  }

  .outlined.box {
    color: $teal;
    border-radius: 0;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 0.75rem;
    border: 1px solid $teal !important;

    h3.ui.header {
      font-style: italic;
      font-weight: normal;
      margin: 1rem 0;
    }
  }

  .ui.button {
    font-size: 1.5rem;
    width: 100%;

    background: rgba(58, 192, 255, 0.8);
    color: #fff;

    &:hover {
      background: rgba(58, 192, 255, 1);
    }
  }

  .field {
    margin-bottom: 0;
  }

  .ui.divider {
    margin-top: 2rem;
    color: $teal;
  }
}

.info.masthead.container {
  max-width: 500px !important;
  h1.ui.header a {
    color: inherit;
  }
  h1.ui.header a:hover {
    color: $light-teal;
  }
}
