// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: -moz-linear-gradient(45deg, rgba(0,200,248,1) 0%, rgba(0,200,248,1) 1%, rgba(135,255,233,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,200,248,1)), color-stop(1%, rgba(0,200,248,1)), color-stop(100%, rgba(135,255,233,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(0,200,248,1) 0%, rgba(0,200,248,1) 1%, rgba(135,255,233,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(0,200,248,1) 0%, rgba(0,200,248,1) 1%, rgba(135,255,233,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(0,200,248,1) 0%, rgba(0,200,248,1) 1%, rgba(135,255,233,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(0,200,248,1) 0%, rgba(0,200,248,1) 1%, rgba(135,255,233,1) 100%); /* w3c */
}

@media screen and (min-width: 300px) {
  .wrapper {
    height: 100%;
  }

  .masthead.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}

.masthead.container {
  background: #fff;
  color: $teal;
  max-width: 300px !important;
  box-shadow: 0px 1px 2px 0 rgba(34, 36, 38, 0.15);
  border-radius: 0.25rem;
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 2rem 1rem;

  h1.ui.header {
    color: inherit;
    font-size: 3rem;
    margin-bottom: 0;
  }

  h3.ui.header {
    color: inherit;
    margin-top: 0.25rem;
  }

  form.ui.form {
    text-align: center;
  }

  form.ui.form .field input {
    margin: 1rem 0;
    border-radius: 0;
    width: 100%;
    font-size: 1.5rem;
    text-align: center;
    border: 1px solid $teal !important;
    &::-webkit-input-placeholder {
       color: $light-teal;
    }

    &:-moz-placeholder { /* Firefox 18- */
       color: $light-teal;  
    }

    &::-moz-placeholder {  /* Firefox 19+ */
       color: $light-teal;  
    }

    &:-ms-input-placeholder {  
       color: $light-teal;  
    }
  }
  
  .ui.button {
    font-size: 1.5rem;
    width: 100%;
  }

  .field {
    margin-bottom: 0;
  }
}
