// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: #fff;
}

@media screen and (min-width: 960px) {
  .masthead.container {
    max-width: 960px;
  }
}

#room_id {
  display: none;
}

.ui.menu {
  background: $teal !important;
  color: #fff;

  padding: 0 1rem;
  margin-bottom: 0;


  h1.ui.header {
    color: #fff;
    font-size: 2.5rem;
  }

  h3.ui.header {
    color: #fff;
  }

  @media screen and (min-width: 980px) {
    .item h1.ui.header {
      font-size: 3.5rem;
    }
  }

}

.masthead.container {
  color: $teal;
  padding: 0;

  .ui.header {
    color: inherit;
    display: inline;
  }

  @media screen and (min-width: 980px) {
    h1.ui.header {
      font-size: 3rem;
    }

    h3.ui.header {
      font-size: 1.5rem;
    }
  }

  h3.ui.header {
    font-family: Ubuntu;
  }
}

.masthead.container .ui.segment {
  background: #fff;
  border: none;
  box-shadow: none;
}

.masthead.container .ui.segment .row {
  padding-left: 1rem;
  padding-right: 1rem;
}

.masthead.container .ui.grid .row::before {
  margin: 0;
  width: 100%;
}

.upload.form {
  width: 0;
  height: 0;
  visibility: hidden;
}

.ui.card:hover {
  .content {
    border-radius: 0 !important;
  }
}

.ui.card {
  color: $teal;
  border-radius: 0 !important;

  i.remove.icon {
    position: absolute;
    top: 7px;
    right: 5px;
    z-index: 1000;
    color: $teal;
    opacity: 0;
    transition: opacity 0.1s ease-in-out;
    font-size: 2rem;
  }

  &:hover i.remove.icon {
    opacity: 0.5;
  }

  i.remove.icon:hover {
    opacity: 1;
  }

  .header {
    color: $teal !important;
    overflow: hidden;
  }
  .content {
    border-radius: 0 !important;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttons {
    border: rgba(0, 0, 0, 0.15) 1px solid;
    border-left: rgba(0, 0, 0, 0.07) 1px solid;
    border-right: rgba(0, 0, 0, 0.07) 1px solid;
    .primary.button {
      background: #fff !important;
      color: $teal !important;
      border-radius: 0 !important;

      &:hover {
        color: #fff !important;
        background: $teal !important;
      }

      &:first-child {
        border-right: 1px solid rgba(0, 0, 0, 0.15);
      }
    }
  }
}

.ui.upload.card {
  text-align: center;
  cursor: pointer;

  border-radius: 6px !important;
  border: 2px dashed $teal;
  box-shadow: none;

  &:hover {
    box-shadow: none !important;
    border: 2px dashed $teal !important;

    .content {
      background: #fff !important;
      .header {
        color: $teal !important;
      }
    }
  }
}

.ui.upload.card .ui.image {
  margin: auto;
}

@media screen and (min-width: 980px) {
  .ui.card .header {
    font-size: 1.5rem !important;
  }
}

