// Place all the styles related to the Rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background: -moz-linear-gradient(45deg, rgba(0,200,248,1) 0%, rgba(0,200,248,1) 1%, rgba(135,255,233,1) 100%); /* ff3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(0,200,248,1)), color-stop(1%, rgba(0,200,248,1)), color-stop(100%, rgba(135,255,233,1))); /* safari4+,chrome */
  background: -webkit-linear-gradient(45deg, rgba(0,200,248,1) 0%, rgba(0,200,248,1) 1%, rgba(135,255,233,1) 100%); /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(45deg, rgba(0,200,248,1) 0%, rgba(0,200,248,1) 1%, rgba(135,255,233,1) 100%); /* opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(0,200,248,1) 0%, rgba(0,200,248,1) 1%, rgba(135,255,233,1) 100%); /* ie10+ */
  background: linear-gradient(45deg, rgba(0,200,248,1) 0%, rgba(0,200,248,1) 1%, rgba(135,255,233,1) 100%); /* w3c */
}

@media screen and (min-width: 960px) {
  .masthead.container {
    max-width: 960px;
  }
}
.masthead.container {
  color: $teal;
  padding: 0;
  padding-top: 1rem;

  .ui.header {
    color: inherit;
    display: inline;
  }

  h3.ui.header {
    font-family: Ubuntu;
  }
}

.masthead.container .ui.segment {
  background: #fff;
}

.masthead.container .ui.segment .row {
  padding-left: 1rem;
  padding-right: 1rem;
}

.masthead.container .ui.grid .row::before {
  margin: 0;
  width: 100%;
}

.upload.form {
  width: 0;
  height: 0;
  visibility: hidden;
}

.ui.card .content .header {
}

.ui.upload.card {
  text-align: center;
  cursor: pointer;
}

.ui.upload.card .ui.image {
  margin: auto;
}

